<div class="container-content">
  <app-toolbar [darkMode]="false"></app-toolbar>


  <main class="content-edu">
    <div class="intro">
      <div class="text">
        <h1 class="title">Conheça a jornada do Trakto Edu</h1>
        <p class="description">O design como ferramenta educadora.</p>
      </div>

      <div class="person-info">
        <img src="assets/images/tiago-mochileiro.svg" alt="Nome Tiago Mochileiro">

        <img class="arrow" src="assets/images/arrow-dashed-line.svg" alt="Ícone de seta tracejada">
      </div>

      <div class="person">
        <img class="person-photo" src="assets/images/person.svg" alt="Foto do Tiago Mochileiro">
      </div>
    </div>

    <div class="materiais">

      <ng-container *ngIf="designs?.length; else createDesign">
        <div class="material-info">

          <div class="slide-buttons">
            <div class="week text-font">
              <ng-container *ngIf="(startDate | date: 'dd/MM') !== (endDate | date : 'dd/MM'), else sameDate">
                Semana {{ startDate | date: 'dd/MM' }} até {{ endDate | date: 'dd/MM'}}
              </ng-container>

              <ng-template #sameDate>
                Semana {{ startDate | date: 'dd/MM' }}
              </ng-template>
            </div>

            <div class="buttons" *ngIf="designs?.length > 1">

              <img class="prev-slide" src="assets/icons/prev.svg" alt="Slide anterior" (click)="prevSlide()">
              <img class="next-slide" src="assets/icons/next.svg" alt="Próximo slide" (click)="nextSlide()">
            </div>
          </div>

          <button class="all-content text-font" (click)="goListMaterialDidatico()">Ver todo conteúdo</button>
        </div>

        <div class="text-information">
          <h2 class="modulo title-font">Material didático</h2>
          <p class="text-font">Acesse suas últimas apresentações de aula.</p>
        </div>

        <swiper-container class="swiper" slides-per-view="auto" space-between="32" #swiperContainer>

          <swiper-slide class="slide" *ngFor="let design of designs">
            <app-card-design [design]="design"></app-card-design>
          </swiper-slide>

        </swiper-container>
      </ng-container>

      <ng-template #createDesign>
        <div class="none-material" *ngIf="!isLoading">

          <div class="animation">
            <ng-lottie [options]="animationOptions"></ng-lottie>
          </div>

          <p class="info text-font">Você ainda não possui nenhuma material didático criado 😢!. Para criar um material
            didático clique no botão
            abaixo.</p>

          <button class="new-design text-font" mat-raised-button (click)="openEditor()">
            <span class="material-symbols-outlined">
              add
            </span>

            Novo Material
          </button>
        </div>

      </ng-template>

    </div>

  </main>
</div>