<div class="toolbar" [class.light-mode]="!darkMode">

  <div class="logout">
    <img class="image" [src]="getImageToolbar('trakto-edu', true)" alt="Logo Trakto EDU">

    <button class="change-modulo" *ngIf="!darkMode" (click)="goToMenu()">
      <img src="assets/icons/logout.svg" alt="Ícone de sair">

      Trocar de ambiente
    </button>
  </div>

  <div class="user-info">

    <div class="date">
      <img class="icon" [src]="getImageToolbar('calendar')" alt="Ícone de calendário">

      <p class="current-date">{{ currentDate | date : 'dd/MM/yyyy' }}</p>
    </div>

    <mat-divider class="divider" [vertical]="true"></mat-divider>

    <img class="icon" [src]="getImageToolbar('notification')" alt="Ícone de notificações">

    <mat-divider class="divider" [vertical]="true"></mat-divider>

    <div class="avatar">
      <img class="avatar-photo" [src]="user?.avatar" [alt]="'Imagem de ' + user?.name">

      <img [src]="getImageToolbar('arrow')" alt="Ícone de seta para baixo">
    </div>

  </div>
</div>