<main class="login">
  <img class="logo" src="assets/images/trakto-logo.svg" alt="Logo da Trakto">

  <h1 class="title">Olá, faça login em sua conta.</h1>

  <form class="form">

    <div class="field">
      <label for="email" class="label">E-mail</label>
      <input type="email" id="email" autocomplete="email" class="input">
    </div>

    <div class="field">
      <label for="senha" class="label">Senha</label>
      <input type="password" id="senha" autocomplete="current-password" class="input password">
    </div>

    <button type="submit" class="sign-in">Entrar</button>
  </form>

</main>